.docker/
.envs/
.git/
.github/
.idea/
.local/
.ruff_cache/
.static/
.venv/
__pycache__/
envs/
scripts/

.dockerignore
.editorconfig
.env
.gitignore
db.sqlite3
docker-compose.yaml
Dockerfile
pyproject.toml
README.md
